{% if flag_specialty %}
<h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>{{ flag_specialty.0 }}</strong></h1>
{% elif flag_company %}
<div class="my-3">
  <img class="rounded mx-auto d-block" src="../../static/logs/logo{{ flag_company.0.pk }}.png" width="130" height="80" alt="flag_company">
  <div>
    <h1 class="h1 text-center mx-auto my-0 py-0" style="font-size: 70px;"><strong>{{ flag_company.0 }}</strong></h1>
  </div>
</div>
{% else %}
<h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>Все вакансии</strong></h1>
{% endif %}