{% if flag_specialty %}
  <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>{{ flag_specialty }}</strong></h1>
{% elif flag_company %}
  <div class="my-3">

    {% if flag_company.logo %}
      <img class="rounded mx-auto d-block" src="{{ flag_company.logo.url }}" width="260" height="160" alt="flag_company">
    <h5 class="text-center mx-auto mt-0 py-0"><strong>{{ flag_company|lower }}</strong></h5>
    {% else %}
      <h2 class="text-center mx-auto mt-5 py-0"><strong>{{ flag_company|upper }}</strong></h2>
    {% endif %}


  </div>

{% elif flag_search %}
  <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>Поиск вакансий</strong></h1>
{% else %}
  <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>Все вакансии</strong></h1>
{% endif %}