{% for ob in main_specialty %}
  <div class="col-6 col-md-6 col-lg-3">
    <div class="card pt-4 text-center mb-4">
      <a href="{{ ob.get_absolute_url }}" style="max-width: 150px;" class="mx-auto d-block">
        <img class="mx-auto d-block" src="../static/pics/specty_{{ ob.code }}.png" width="80" height="80" alt="">
      </a>
      <div class="card-body">
        <p class="card-text mb-2">{{ ob.title }}</p>
        <p class="card-text"><a href="{{ ob.get_absolute_url }}">{{ ob.vacancies.all.count }} вакансий</a></p>
      </div>
    </div>
  </div>
{% endfor %}