{% extends 'base.html' %}


{% block first_section %}
<div class="row mt-5">

{% include 'incl/_my_com.html' %}

    <div class="col-12 col-lg-8">
        {% comment %}
        <!--<form action="{% url 'mycompany' %}" method="post">-->
        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->
        <!--<button type="submit" class="btn btn-info">Сохранить</button>-->
        <!--</form>-->
        {% endcomment %}

        {% include 'incl/_form_company.html' %}
    </div>
</div>
{% endblock %}

