{% extends 'base.html' %}

{% block title %}
{{ block.super }} | {% include 'incl/_title_if.html' %}
{% endblock %}

{% block first_section %}

  {% include 'incl/_first_section_if.html' %}

  {% include 'incl/_searcher.html' %}

{% endblock %}

{% block cards1 %}
<section>
  <h4 class="text-center pt-2">Вы искали: <br><b><code class="text-info" >  {{ flag_search }} </code></b></h4>
  <h5 class="text-center pt-3">Найдено {{ vacancies|length }} вакансий:</h5>
  <div class="row mt-5">
    <div class="col-12 col-lg-8 offset-lg-2 m-auto">
        {% include 'incl/_vacancy_card.html' %}
    </div>
  </div>
</section>
{% endblock %}